<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Eventos | HMI - Honoris Mérito Institute</title>
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <meta http-equiv="cleartype" content="on">
  <link rel="icon" type="image/png" href="favicon.png" />
  <!-- Vendor CSS -->
  <link rel="stylesheet" type="text/css" href="vendor/normalize/normalize.css">
  <link rel="stylesheet" type="text/css" href="vendor/hamburgers/hamburgers.min.css">
  <link rel="stylesheet" type="text/css" href="vendor/flickity/flickity.min.css">
  <!-- Application CSS -->
  <link rel="stylesheet" type="text/css" href="resources/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="resources/css/hero.css">
  <link rel="stylesheet" type="text/css" href="resources/css/section.css">
  <link rel="stylesheet" type="text/css" href="resources/css/main.css">
  <!-- Fonts -->
  <link rel="stylesheet" type="text/css" href="resources/fonts/opensans/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="resources/fonts/vollkorn/stylesheet.css">
</head>
<body>
  <header class="header">
    <nav class="navbar">
      <div class="navbar-left">
        <a class="navbar-logo" href="/">
          <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="0 0 800 400">
            <style>.lhmi0{fill:#e79f2d}.lhmi1{fill:#372340}</style><path d="M115.2 87.2l-27.3 13 70.4.1 5.2-13zM66.7 119.5h84.9l4.9-13H64.4zM40.1 138.7l104.4.1 4.8-13-105.5-.1zM27.3 158h110.1l4.7-12.9L31 145zM20.6 177.3h109.7l4.8-13H18.3zM14.2 183.7l2.3 13 106.8-.3 4.7-13zM9.8 215.8h106.4l4.7-12.9-113.3-.1zM12.8 235.1H109l4.8-13H10.6zM7.8 254.3l94.2.1 4.7-13-101.2-.1zM13.2 273.4l81.6.4 4.8-12.9-88.5-.5zM23.1 292.9h64.7l4.7-13H20.8zM32 312.1l48.7.1 4.7-13H29.8zM51.2 331.4h22.4l4.8-13H34.6z" class="lhmi0"/><path d="M274.7 119l1.8.6 2.3-6.2s-103.1-42-108.9-42.6L70.4 340.9c25.3 34.2 44.4 47.1 93 47.1 2.5 0 12.1-8.9 17.1-12.2L274.7 119z" class="lhmi1"/><path d="M317.4 165.1c-1.2-2.8-29.4-24.3-29.4-24.3l-82.1 223.4s-11.8 28.5 8.2 20c19.4-8.2 51.9-27.6 66.9-42.5 14.9-14.9 28.6-31.3 36.8-50.7 8.5-20.1 9.3-40.3 9.3-62.2s-1.2-43.6-9.7-63.7z" class="lhmi0"/><circle cx="168.8" cy="228.8" r="154.9" fill="none" stroke="#e79f2d" stroke-miterlimit="10" stroke-width="20"/><g><path d="M282.3 98.7l33.1-90.5s-116.7.7-122.6 0l-17.7 48c41 1.4 78.3 17.2 107.2 42.5z" class="lhmi1"/></g><g><path d="M690.8 156.3c-8.7 24.3-17.4 48.5-26.1 72.8-6.8 19-13.7 38.1-20.4 57.2-1.2 3.5-2.4 5.6-6.9 5.6-4.4 0-5.7-1.9-6.9-5.5-14.7-41.9-29.6-83.8-44.5-125.7-.4-1.1-.9-2.2-1.9-4.7v127.1h14.6v8.1h-40.1v-7.8h15V148.7h-14.9v-8.5h10.4c9.3 0 18.7.3 28-.1 4.7-.2 6.4 1.7 7.9 5.8 12.1 35.3 24.4 70.5 36.6 105.7.6 1.7 1.2 3.3 2.3 6.1 2-5.3 3.6-9.6 5.2-14 11.8-32.9 23.7-65.7 35.3-98.6 1.4-3.9 3.1-5.1 7.2-5 14.9.3 23.8.1 39.2.1v8.1H715v134.8h15.7v8.2H677c0-2.4 7.1-7.8 14.6-7.8V156.4c-.3 0-.5 0-.8-.1zM507.4 210.6v-62h-14.9v-8h52.8v7.8h-14.7v134.8h14.6v8.2h-52.6v-7.7h14.7v-63h-75v62.5h14.8v8h-52.9v-7.7H409V148.6h-14.7v-8.1h52.6v7.8h-14.6v62.3h75.1zM741.2 148.5v-7.8h54.3v7.7h-14.8v134.9h14.7v8.1h-53.9v-7.8h14.6V148.5h-14.9z" class="lhmi1"/></g>
          </svg>
        </a>
      </div>
      <div class="navbar-right">
        <ul class="navbar-menu">
          <li><a href="#">Quem somos</a></li>
          <li><a href="#">O que oferecemos</a></li>
          <li><a href="#">Eventos</a></li>
          <li><a href="#">Notícias</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
        <button class="hamburger hamburger--slider" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </nav>
  </header>

  <section class="section section-eight">
    <div class="section-header" style="background-image: url('resources/img/helloquence-51716-unsplash-x1280.jpg');">
      <p class="section-title">Eventos</p>
    </div>
    <div class="section-wrapper">
      <div class="content">
        <div class="component-event event-alpha" data-id="{{$event['id']}}">
          <div class="event-row">
            <div class="left">
              <div class="event-date">02 <span>abril</span></div>
              <div class="event-info">
                <p class="event-title">Teste</p>
                <p class="event-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="event-info">
                <p class="event-datetime">Local: Centro de Eventos</p>
                <p class="event-datetime">Horário: 08h às 10h</p>
              </div>
            </div>
            <div class="right">
              <a href="{{$event['url']}}" class="btn btn-event">Inscreva-se</a>
            </div>
          </div>
          <div class="event-row">
            <div class="event-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta massa id velit fermentum, a congue tortor mollis. Suspendisse gravida vulputate tortor, venenatis iaculis est suscipit vitae. Ut euismod feugiat lacus sit amet placerat. Phasellus et arcu ac nisi euismod mattis. Aliquam pretium, ex eget ornare ultricies, odio nibh convallis odio, et pharetra dui ante sit amet libero. Morbi sed dolor felis. Suspendisse potenti. Mauris nulla urna, pretium vel ultricies id, ultricies vitae urna. Donec quis metus purus. Aliquam vitae quam augue. Vivamus tincidunt dictum lorem, sed porta ex faucibus blandit. Sed non accumsan lectus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="patrocinadores" class="section white section-eleven">
    <div class="row no-pad">
      <div class="row-titles">
        <p class="row-title">Patrocinadores</p>
      </div>
      <div class="content">
        <a class="component-patrocinador" href="">
          <div class="patrocinador-logo" style="background-image: url('resources/img/logos/nike.png');"></div>
        </a>
        <a class="component-patrocinador" href="">
          <div class="patrocinador-logo" style="background-image: url('resources/img/logos/lexus.png');"></div>
        </a>
        <a class="component-patrocinador" href="">
          <div class="patrocinador-logo" style="background-image: url('resources/img/logos/nike.png');"></div>
        </a>
        <a class="component-patrocinador" href="">
          <div class="patrocinador-logo" style="background-image: url('resources/img/logos/lexus.png');"></div>
        </a>
      </div>
    </div>
  </section>
  
  <footer class="footer">
    <!--
    <div class="footer-top">
      <div class="footer-content">
        <div class="footer-content-left">
          <div class="footer-menus">
            <div class="footer-menu">
              <a href="#" class="footer-menu-title"></a>
              <ul>
                <li><a href="#"></a></li>
              </ul>
            </div>
            <div class="footer-menu open">
              <a href="javascript:void(0)" class="footer-menu-title"><ul>
                <li><a href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-content-right"></div>
      </div>
    </div>
    -->
    <div class="footer-bottom">
      <div class="footer-content">
        <div class="footer-content-left">
          <div class="footer-info">
            <p>HMI - Honoris Mérito Institute</p>
          </div>
        </div>
        <div class="footer-content-center">
          <div class="social-icons">
            <a href="#" class="social-icon social-icon-linkedin" target="_blank">
              <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414">
                <path d="M13.632 13.635h-2.37V9.922c0-.886-.018-2.025-1.234-2.025-1.235 0-1.424.964-1.424 1.96v3.778h-2.37V6H8.51v1.04h.03c.318-.6 1.092-1.233 2.247-1.233 2.4 0 2.845 1.58 2.845 3.637v4.188zM3.558 4.955c-.762 0-1.376-.617-1.376-1.377 0-.758.614-1.375 1.376-1.375.76 0 1.376.617 1.376 1.375 0 .76-.617 1.377-1.376 1.377zm1.188 8.68H2.37V6h2.376v7.635zM14.816 0H1.18C.528 0 0 .516 0 1.153v13.694C0 15.484.528 16 1.18 16h13.635c.652 0 1.185-.516 1.185-1.153V1.153C16 .516 15.467 0 14.815 0z" fill-rule="nonzero"/>
              </svg>
            </a>
          </div>
        </div>
        <div class="footer-content-right">
          <div class="footer-info">
            <a href="">contato@hmi.net.br</a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script type="text/javascript" src="vendor/flickity/flickity.pkgd.min.js"></script>
  <script type="text/javascript">
    var secPatrocinadores = document.querySelector('#patrocinadores .content')
    var cases = new Flickity(secPatrocinadores, {
      cellAlign: 'center',
      wrapAround: false,
      freeScroll: true,
      contain: true,
      autoPlay: true,
      prevNextButtons: false,
    })
  </script>
  <script type="text/javascript">
    const hamburger = document.querySelector('.hamburger')
    const navbarMenu = document.querySelector('.navbar-menu')

    hamburger.addEventListener('click', function (event) {
      hamburger.classList.toggle('is-active')
      navbarMenu.classList.toggle('active')
    })
  </script>
</body>
</html>