/**
* ********************************************
*
* MOBILE / SMALL SCREEN (0px - 480px)
*
* ********************************************
*/

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  max-width: none;
  max-height: none;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  transition: transform 160ms ease;
}

a {
  color: #0069ab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Scrollbar - Início
/* ******************************************** */

::-webkit-scrollbar {}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

::-webkit-resizer {
  background-color: transparent;
}

/* Scrollbar - Fim
/* ******************************************** */

.svg {
  display: block;
  position: relative;
  width: auto;
}

.svg svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.boxes {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.boxes .box:not(:nth-last-child(1)) {
  margin-bottom: 10px;
}

.box {}

.box-one {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 275px;
}

.box-one .box-content {
  display: block;
  position: relative;
  padding: 20px;
  background-color: #e79f2c;
}

.box-one .box-content::after {
  content: '';
  display: none;
  position: absolute;
  top: 0;
  right: -20px;
  width: 3px;
  height: 100%;
  background-color: transparent;
  border-image: url('../img/box_one_border.png') 1% 50 0 round;
  border-right: 14px solid transparent; 
}

.box-one .box-content p {
  margin: 0;
  line-height: 24px;
  color: #fff;
  font-family: 'Vollkorn', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.box-one .box-link {
  margin: 0;
  padding: 8px 18px;
  color: #4c354a;
  font-size: 16px;
  font-weight: 600;   
}


/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {
  .box-one {
    width: 325px;
  }

  .box-one .box-content {
    padding: 25px;
  }

  .box-one .box-content p {
    line-height: 30px;
    font-size: 30px;
  }
}


/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) { 
  .box-one .box-content::after {
    display: block;
  }
}






.section-one .row-title {
  color: #4c354a;
  font-family: 'Vollkorn', sans-serif;
  margin-bottom: 15px;
}

.section-one .row-text {
  color: #5d5d5d;
  font-weight: 300;
  margin-bottom: 15px;
}

.section-one .content {
  padding: 0 20px;
}


/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .section-one {}

  .section-one .row {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .section-one.center .row {
    justify-content: center;
  }

  .section-one .row-titles {
    display: flex;
    flex-flow: row nowrap;
    width: auto;
    margin: 0;
  }

  .section-one .row-title {
    max-width: 250px;
    margin-right: 50px;
    line-height: 42px;
    color: #4c354a;
    font-family: 'Vollkorn', sans-serif;
    font-size: 42px;
    text-align: left;
  }

  .section-one .row-text {
    max-width: 250px;
    width: auto;
    margin-right: 100px;
    color: #5d5d5d;
    font-weight: 300;
    text-align: left;
  }

  .section-one.wide .row-text {
    max-width: 450px;
    margin-right: 50px;
  }

  .section-one .content {
    padding: 0;
  }
}


.section-two .row-title {
  color: #4c354a;
  font-family: 'Vollkorn', sans-serif;
}

/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .section-two {}

  .section-two .row-titles::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 35%;
    height: 1px;
    background-color: #4c354a;
  }

  .section-two .row-titles {
    position: relative;
    width: 1024px;
  }

  .section-two .row-titles::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 35%;
    height: 1px;
    background-color: #4c354a;
  }

  .section-two .row-title {
    font-size: 32px;
  }
}

.featured-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #372240;
}

.featured-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
}

.featured-one {
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 300px;
}

.featured-one:hover {
  text-decoration: none;
}

.featured-one:nth-child(odd) {
  background-color: #422a4d;
}

.featured-one .featured-background {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-size: cover;
  background-color: rgba(44, 21, 54, 0.8);
  background-blend-mode: overlay;
  filter: contrast(1.1);
  transition: opacity 160ms ease;
}

.featured-one:hover .featured-background {
  opacity: 1;
}

.featured-one .icon::before {
  content: '';
  display: block;
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 75px;  
  background-color: #fff;
  transition: opacity 400ms ease-in;
}

.featured-one:hover .icon::before {
  opacity: 0;
}

.featured-one .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.featured-one .featured-icon::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 75px;
  border-radius: 75px;  
  opacity: 1;
  background-color: #fff;
  transition: opacity 400ms ease-in;
}

.featured-one:hover .featured-icon::before {
  opacity: 0;
}

.featured-one .featured-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 75px;
}

.featured-one .featured-title {
  position: relative;
  margin: 0 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #fff;
  font-weight: 600;
}

.featured-one .featured-subtitle {
  position: relative;
  margin: 0 10px;
  color: #fff;
  font-weight: 300;
}


/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .featured-container {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
  }

  .featured-wrapper {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
  }
}

/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .featured-one {
    width: 255px;
    height: 350px;
  }
}



.featured-two {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  width: 300px;
}

.featured-two:not(:nth-last-child(1)) {
  margin-bottom: 30px;
}

.featured-two .featured-title {
  color: #362040;
  font-size: 30px;
  font-weight: 300;
}

.featured-two .featured-content::before {
  content: '';
  display: block;
  position: absolute;
  top: -15px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  
  border-bottom: 15px solid rgba(62,43,57,1);
}

.featured-two .featured-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 25px;
  height: calc(350px - 50px);
  margin-top: 30px;
  line-height: 26px;
  background: rgb(62,43,57);
  background: linear-gradient(180deg, rgba(62,43,57,1) 0%, rgba(114,80,119,1) 100%);
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

.featured-two .featured-content p {
  margin: 0;
}

.featured-two .featured-content ul {
  padding: 0;
  padding-left: 18px;
  margin: 0;
}

/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .featured-two {
    width: 335px;
    max-width: none;
  }

  .featured-two:not(:nth-last-child(1)) {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .featured-two .featured-content {
    padding: 30px;
    height: calc(300px - 60px);
    font-size: 18px;
  }
}






.section-three .row-title {
  color: #4c354a;
  font-family: 'Vollkorn', sans-serif;
  text-align: left;
}

.section-three .content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
}

/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .section-three .row-titles {
    width: 100%;
  }

  .section-three .row-title {
    font-size: 32px;
  }

  .section-three .content {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.component-news {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 300px;
  margin-bottom: 50px;
}

.component-news .news-picture {
  display: block;
  position: relative;
  width: 100%;
  height: 175px;
  background-size: cover;
}

.component-news .news-title {
  margin: 12px 0;
  color: #302a32;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.component-news .news-description {
  margin: 0;
  color: #302a32;
  font-size: 14px;
}

.component-news .btn {
  position: relative;
  margin-top: 15px;
  color: #302a32;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.component-news .btn::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #e29f3a;
}

.component-news .btn:hover {
  text-decoration: none;
}

/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .component-news {
    margin-bottom: 0;
  }

  .component-news:not(:nth-last-child(1)) {
    margin-right: 60px;
  }
}



.section-four .row-title {
  color: #4c354a;
  font-family: 'Vollkorn', sans-serif;
  text-align: left;
}

.section-four .content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
}

/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .section-four {
    margin-top: 15px;
  }

  .section-four .row-titles {
    width: 100%;
    margin-bottom: 10px;
  }

  .section-four .row-title::before {
    content: '';
    display: block;
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #e3e9ec;
  }

  .section-four .row-title {
    position: relative;
    font-size: 32px;
  }

  .section-four .content {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}


.component-event {
  display: block;
  position: relative;
  max-width: 600px;
  width: calc(100% - 20px);
  height: auto;
  background-color: #e3e9ec;
}

.component-event:not(:nth-child(1)) {
  margin-top: 5px;
}

.component-event .event-row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.component-event .event-row > .left,
.component-event .event-row > .right {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  width: 100%;
}

.component-event .event-row > .left {
  justify-content: flex-start;
}

.component-event .event-row > .right {
  justify-content: flex-end;
}

.component-event .event-date {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  width: calc(100% - 10px);
  height: auto;
  margin: 5px;
  line-height: 22px;
  background-color: #52355e;
  color: #fff;
  font-family: 'Vollkorn', sans-serif;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
}

.component-event .event-date span {
  position: relative;
  margin-left: 5px;
}

.component-event .event-date span::after {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #e29f3a;
}

.component-event .event-info:nth-child(2)::before {
  content: '';
  display: block;
  position: absolute;
  left: 10px;
  bottom: -10px;
  width: calc(100% - 20px);
  height: 1px;
  background-color: #4c364c;
}

.component-event .event-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: calc(100% - 20px);
  height: auto;
}

.component-event .event-title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.component-event .event-text {
  max-width: 360px;
  margin: 0;
  margin-top: 5px;
  margin-right: 15px;
  font-size: 14px;
  font-weight: 400;
}

.component-event .event-datetime {
  max-width: 375px;
  margin: 0;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 400;
}

.component-event .event-link {
  color: #4c364c;
  margin: 0;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.component-event .btn-event {
  padding: 10px 50px;
  margin: 10px 10px;
  background-color: #fff;
  border: 1px solid #4c364c;
  color: #4c364c;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 160ms ease;
}

.component-event .btn-event:hover {
  color: #fff;
  background-color: #4c364c;
  text-decoration: none;
}

/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .component-event {
    max-width: none;
    width: 100%;
  }

  .component-event .event-row {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: none;
  }

  .component-event .event-row > .left,
  .component-event .event-row > .right {
    flex-flow: row nowrap;
    width: auto;
  }

  .component-event .event-row > .left {
    justify-content: flex-start;
  }

  .component-event .event-row > .right {
    justify-content: flex-end;
    margin-right: 20px;
  }

  .component-event .event-date {
    flex-flow: column wrap;
    padding: 0;
    width: 110px;
    height: 90px;
    margin: 5px;
  }

  .component-event .event-date span {
    position: relative;
    margin-left: 0;
  }

  .component-event .event-info:nth-child(2)::before {
    display: none;
  }

  .component-event .event-info:nth-child(3)::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -20px;
    width: 1px;
    height: 100%;
    background-color: #4c364c;
  }

  .component-event .event-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding: 0;
    width: auto;
    height: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 0;
  }

  .component-event .btn-event {
    margin: 0;
  }

  .component-event .event-content {
    max-width: 650px;
    margin-left: 140px;
  }

  .component-event .event-content p {
    font-size: 14px;
  }
}






.section-five .row-title {
  color: #4c354a;
  font-family: 'Vollkorn', sans-serif;
  text-align: left;
}

.section-five .content {
  display: block;
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}


/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .section-five .row-titles {
    width: 1024px;
  }

  .section-five .row-title {
    font-size: 32px;
  }

  .section-five .content {}
}


/* DEFAULT (>1023px) */
.component-case {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 300px;
  height: 420px;
  margin-top: -35px;
  margin-right: 15px;
  flex-shrink: 0;
  overflow: hidden;
  transform: rotateZ(10deg);
}

.component-case:hover .case-background-overlay,
.component-case:hover .case-info {
  opacity: 1;
}

.component-case .case-background-overlay {
  display: block;
  position: absolute;
  top: calc(-25px - 13%);
  left: -13%;
  width: 126%;
  height: 126%;
  background-color: rgba(76, 53, 74, 0.7);
  opacity: 1;
  transform: rotateZ(-10deg);
  transition: opacity 120ms ease;
}

.component-case .case-background {
  display: block;
  position: absolute;
  top: calc(-25px - 13%);
  left: -13%;
  width: 126%;
  height: 126%;
  background-size: cover;
  background-position: center center;
  transform: rotateZ(-10deg);
}

.component-case .case-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  height: 85%;
  opacity: 1;
  transform: rotateZ(-10deg);
  transition: opacity 120ms ease;
}

.component-case .case-name {
  margin: 0;
  color: #fff;
  font-family: 'Vollkorn', sans-serif;
  font-size: 28px;
  font-weight: 300;
}

.component-case .case-company {
  margin: 0;
  color: #fff;
  font-family: 'Vollkorn', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .component-case .case-background-overlay,
  .component-case .case-info {
    opacity: 0;
  }
}



.section-six {
  display: none;
}



/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .section-six {
    display: block;
  }
}


/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .component-noticias {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 1024px;
    height: auto;
    background-color: #372240;
  }

  .noticias-cover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 100%;
    background-size: cover;
    background-position: center center;
  }

  .noticias-items {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: calc(100% );
    height: 100%;
  }

  .noticias-item {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 24px 25px;
    width: calc(100% - 50px - 600px);
    margin-left: 600px;
    transition: all 160ms ease;
  }

  .noticias-item:not(:nth-last-child(1)) {
    border-bottom: 2px solid rgba(255, 255, 255, 0.9);
  }

  .noticias-item.active {
    background-color: #52355e;
  }

  .noticias-item:hover {
    background-color: #52355e;
  }

  .noticias-item-picture {
    display: none;
  }

  .noticias-item-title {
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
  }

  .noticias-item-title:focus,
  .noticias-item-title:hover {
    text-decoration: none;
  }

  .noticias-item-description {
    margin: 0;
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
  }

  .noticias-item.active .noticias-item-title {
    font-weight: 600;
  }
}




.section-seven .row-title {
  color: #4c354a;
  font-family: 'Vollkorn', sans-serif;
  text-align: left;
}

.section-seven .content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}


/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .section-seven .row-titles {
    width: 1024px;
  }

  .section-seven .row-title {
    font-size: 42px;
    margin-bottom: 50px;
  }

  .section-seven .content {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}






.component-team {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.component-team:not(:nth-last-child(1)) {
  margin-bottom: 50px;
}

.component-team .member-picture::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 160ms ease;
}

.component-team .member-picture {
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.component-team .member-picture::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  border-radius: 100%;
  border-style: solid;
  border-color: #fff;
  transition: all 160ms ease;
}

.component-team .member-picture:hover::before {
  opacity: 1;
}

.component-team .member-picture:hover .icon {
  opacity: 1;
}

.component-team .member-picture:hover::after {
  top: -2px;
  left: -2px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border-width: 4px;
}

.component-team .member-picture .icon {
  height: 30px;
  opacity: 0;
  transition: opacity 160ms ease;
}

.component-team .member-picture .icon * {
  fill: #fff;
}

.component-team .member-name {
  max-width: 300px;
  margin: 0;
  margin-top: 10px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.component-team .member-role {
  max-width: 300px;
  margin: 0;
  margin-top: 5px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.component-team .member-text {
  margin: 0 40px;
  margin-top: 20px;
  color: #464646;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}



/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .component-team {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .component-team .member-text {
    margin: 0 20px;
    margin-top: 0;
  }

  .component-team:not(:nth-last-child(1)) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}











.social-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.social-icons .social-icon {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  text-decoration: none;
}

.social-icons .social-icon:nth-child(1) {
  margin-left: 0;
}

.social-icons .social-icon svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.social-icons .social-icon svg * {
  fill: #FFF;
}

.social-icons .social-icon:hover svg * {
  fill: rgba(255, 255, 255, 0.7);
}






.section-eight {}

.section-eight .section-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 325px;
  background-color: rgba(55, 35, 64, 0.6);
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
}

.section-eight .section-title {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 44px;
  font-style: italic;
  font-weight: 600;
}

.section-eight .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 0;
  width: 100%;
}

.section-eight .component-news {
  margin-bottom: 50px;
}

.section-eight .component-news:nth-child(3n) {
  margin-right: 0;
}


/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .section-eight .section-title {
    font-size: 54px;
  }

  .section-eight .content {
    justify-content: flex-start;
  }
}






.section-nine {}

.section-nine .section-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 25px;
  width: calc(100% - 50px);
  height: 400px;
  background-color: rgba(55, 35, 64, 0.6);
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
}

.section-nine .section-hat {
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

.section-nine .section-title {
  margin: 0;
  max-width: 1024px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
}

.section-nine .section-author {
  margin: 0;
  margin-top: 30px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.section-nine .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 25px;
  max-width: 800px;
}

.section-nine .content p {
  color: #464646;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.section-nine .component-news {
  margin-bottom: 50px;
}

.section-nine .component-news:nth-child(3n) {
  margin-right: 0;
}


/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .section-nine .section-title {
    font-size: 46px;
  }

  .section-nine .content {
    justify-content: flex-start;
    padding: 50px 0;
  }
}






.section-ten {}

.section-ten .section-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 325px;
  background-color: rgba(55, 35, 64, 0.6);
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
}

.section-ten .section-title {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 44px;
  font-style: italic;
  font-weight: 600;
}

.section-ten .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  width: 100%;
}

.section-ten .inputs label {
  font-size: 12px;
}

.section-ten .btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  background-color: transparent;
  color: #000;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 160ms ease-in;
  -webkit-transition: all 160ms ease-in;
}

.section-ten .btn:hover {
  text-decoration: none;
}

.section-ten form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-ten .btn {
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 2px;
  color: #fff;
  background-color: #E79F2D;
  font-size: 16px;
  font-weight: 600;
  text-transform: none;
}

.section-ten .btn:hover {
  background-color: #D6880C;
}

/* Início - Loading */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 240ms ease;
  z-index: -1;
}

.loading.visible {
  opacity: 1;
  z-index: 900;
}

.loading .loader {
  width: 75px;
  height: 75px;
  margin: 0;
}
/* Fim - Loading */

/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .section-ten .section-title {
    font-size: 54px;
  }

  .section-ten .content {
    padding: 100px 0;
  }
}




.section-eleven .row-title {
  color: #4c354a;
  font-family: 'Vollkorn', sans-serif;
  text-align: center;
}

.section-eleven .content {
  display: block;
  position: relative;
  padding: 50px 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}


/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .section-eleven .row-titles {
    width: 1024px;
  }

  .section-eleven .row-title {
    font-size: 32px;
  }

  .section-eleven .content {}
}


.component-patrocinador {}

.component-patrocinador .patrocinador-logo {
  display: block;
  position: relative;
  min-width: 200px;
  min-height: 100px;
  max-width: 275px;
  max-height: 100px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .component-patrocinador:not(:nth-last-child(1)) {
    margin-right: 25px;
  }
}








.modal__header {
  align-items: flex-start;
}

.modal__titles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.modal__title {
  color: #4c354a;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.modal__description {
  color: #464646;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.modal__btn-primary {
  padding: 8px 16px;
  border-radius: 2px;
  color: #fff;
  background-color: #E79F2D;
  font-size: 14px;
  font-weight: 600;
  text-transform: none;
}

.modal__btn-primary:hover {
  background-color: #D6880C;
}

.modal-team .modal__container {
  max-width: 700px;
}

.modal-team .modal__content p {
  font-size: 14px;
  line-height: 24px;
}











.footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #707070;
}

.footer-top,
.footer-bottom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 40px 0;
  width: 100%;
}

.footer-top {
  align-items: center;
}

.footer-bottom {
  align-items: center;
}

.footer-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 0 15px;
  width: calc(100% - 30px);
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 10px 0;
}

.footer-content-left {}

.footer-content-right {}

.footer-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 0 0 0;
}

.footer-info a,
.footer-info p {
  margin: 0;
  color: #fff;
  font-family: 'Vollkorn', sans-serif;
}

.footer .social-icon {
  width: auto;
  height: 30px;
}



/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .footer-bottom .footer-content {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    width: calc(100% - 30px);
  }

  .footer-bottom .footer-content-left,
  .footer-bottom .footer-content-center,
  .footer-bottom .footer-content-right {
    flex-flow: row nowrap;
    align-items: center;
    width: auto;
    height: 30px;
    margin: 0;
  }

  .footer-bottom .footer-content-left {
    justify-content: flex-start;
  }

  .footer-bottom .footer-content-center {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
  }

  .footer-bottom .footer-content-right {
    justify-content: flex-end;
  }

  .footer-info {
    align-items: flex-start;
    width: auto;
    margin: 0 0 0 5px;
  }

  .footer-info p {
    margin: 0;
    text-align: left;
  }

  .footer-info p:nth-child(2) {
    width: auto;
  }

  .footer .social-icons {
    margin: 0;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .footer-bottom .footer-content,
  .footer-content {
    width: 1024px;
  }
}



/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {}

/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {}






/**
* ********************************************
*
* IPHONE 6 (>370px)
*
* ********************************************
*/
@media only screen and (min-width: 370px) {}


/**
* ********************************************
*
* ANDROID 1080p (>420px)
*
* ********************************************
*/
@media only screen and (min-width: 420px) {}


/**
* ********************************************
*
* SMARTPHONE (>520px)
*
* ********************************************
*/
@media only screen and (min-width: 520px) {}


/**
* ********************************************
*
* TABLET (>767px)
*
* ********************************************
*/
@media only screen and (min-width: 767px) {}


/**
* ********************************************
*
* DEFAULT (>979px)
*
* ********************************************
*/
@media only screen and (min-width: 979px) {}


/**
* ********************************************
*
* LARGE SCREEN (>1199px)
*
* ********************************************
*/
@media only screen and (min-width: 1199px) {}


/**
* ********************************************
* Helper Classes
* ********************************************
*/

/*
* Hide visually and from screen readers
*/
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
color: #000 !important; /* Black prints faster:
http://www.sanbeiji.com/archives/953 */
box-shadow: none !important;
text-shadow: none !important;
}

a,
a:visited {
  text-decoration: underline;
}

a[href]:after {
  content: " (" attr(href) ")";
}

abbr[title]:after {
  content: " (" attr(title) ")";
}

/*
* Don't show links that are fragment identifiers,
* or use the `javascript:` pseudo protocol
*/
a[href^="#"]:after,
a[href^="javascript:"]:after {
  content: "";
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

/*
* Printing Tables:
* http://css-discuss.incutio.com/wiki/Printing_Tables
*/
thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
}

img {
  max-width: 100% !important;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}
}
