body {
  position: relative;
  background-color: #f0f0f0;
  font-family: 'Segoe UI', sans-serif;
}

.app {
  min-height: 100vh;
}

/* SVG - Início
/* ******************************************** */

.svg {
  display: block;
  position: relative;
  width: auto;
  height: auto;
}

.svg svg {
  display: block;
  width: auto;
  height: 100%;
}

/* SVG - Fim
/* ******************************************** */

/* Page - Início
/* ******************************************** */

.page {
  min-height: 100vh;
}

.page.center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.page-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.page-tie {
  margin: 0;
  margin-top: 20px;
  color: #464646;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.page-title {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #464646;
  font-size: 36px;
  font-weight: 300;
}

/* Page - Fim
/* ******************************************** */


/* Login - Início
/* ******************************************** */

.page-login {
  background-color: #fff;
}

.page-login .wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
}

.page-login .logo {
  display: block;
  position: relative;
  padding: 75px 25px;
  max-width: 300px;
  width: auto;
  height: 100px;
}

.page-login .logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.page-login .input {
  width: 400px;
}

.page-login input {
  width: 100%;
}

.page-login input:-webkit-autofill {
  color: #fff;
  background: transparent;
  border-bottom: 2px solid #FFDE03;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.page-login .action {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 15px 0;
  width: 100%;
  height: auto;
}

.page-login .action .forgot {
  color: #000;
  font-size: 14px;
}

.page-login .action .forgot:focus,
.page-login .action .forgot:hover {
  text-decoration: underline;
  outline: none;
}

.page-login .action .submit {
  color: #000;
  font-size: 14px;
}

/* Login - Fim
/* ******************************************** */


/* Page Primary - Início
/* ******************************************** */

.page-primary {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0 20px;
  margin: 0 auto;
}

.page-primary.w6,
.page-primary.w7,
.page-primary.w8 {
  align-items: flex-start;
  margin: 0 auto;
}

.page-primary.w6 {
  width: 600px;
}

.page-primary.w7 {
  width: 700px;
}

.page-primary.w8 {
  width: 800px;
}

.page-primary .page-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  width: 100%;
}

.page-primary .page-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.page-primary .buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0 50px 0;
  width: 100%;
  height: auto;
}


/* Page Primary - Fim
/* ******************************************** */


/* Page Widget - Início
/* ******************************************** */

.page-widget {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin: 0 0 15px 0;
  background-color: #fff;
}

.page-widget-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
}

.page-widget-header::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
}

.page-widget-header .left,
.page-widget-header .right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: auto;
  height: auto;
}

.page-widget-header .left {
  justify-content: flex-start;
}

.page-widget-header .right {
  justify-content: flex-end;
}

.page-widget-header .left.with-button .primary-content-title {
  margin-right: 20px;
}

.page-widget-header .left.with-button .primary-content-title::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 1px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.25);
}

.page-widget-header .btn {
  padding: 2px 5px;
  color: #464646;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.page-widget-header-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 15px;
  width: calc(100% - 30px);
  height: auto;
}

.page-widget-header-row:nth-child(1) {}

.page-widget-header-row.no-pad {
  padding: 0;
  width: 100%;
}

.page-widget-title {
  position: relative;
  padding: 0;
  margin: 0;
  color: #464646;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.page-widget-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 15px 0;
  width: 100%;
}

.page-widget-content .left,
.page-widget-content .right {
  position: relative;
}

.page-widget-content .left {
  padding-left: 15px;
}

.page-widget-content .right {
  padding-right: 15px;
}

.page-widget-content.nopad .left,
.page-widget-content.nopad .right {
  padding: 0;
}

.page-widget-content .left.nopad,
.page-widget-content .right.nopad {
  padding: 0;
}

.page-widget-content .full {
  padding: 0 15px;
  width: calc(100% - 30px);
}

.page-widget .inputs {
  width: 100%;
}

.page-widgets {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* Page Widget - Fim
/* ******************************************** */

/* Custom Page Adjustments - Início
/* ******************************************** */

.control-page .widget-alpha {}

.control-page .widget-buttons {
  margin: 0 0 15px 0;
  margin-top: 50px;
  background-color: transparent;
}

.control-page .widget-buttons .widget-content {
  justify-content: flex-start;
}

.control-page .widget-buttons .card:not(:nth-last-child(1)) {
  margin-right: 10px;
}

.control-page .widget-buttons .card:hover {}









.posts-page .widget-alpha {}

.posts-page .widget-buttons {
  margin: 0 0 15px 0;
  margin-top: 50px;
  background-color: transparent;
}

.posts-page .widget-buttons .widget-content {
  justify-content: flex-start;
}

.posts-page .widget-buttons .card:not(:nth-last-child(1)) {
  margin-right: 10px;
}

.posts-page .widget-buttons .card:hover {}

.posts-page .list-header,
.posts-page .list-row {
  padding: 0 30px;
  width: calc(100% - 60px);
}

.posts-page .list [data-attribute="title"] {
  width: 200px;
}

.posts-page .list [data-attribute="description"] {
  width: 200px;
}

.posts-page .list [data-attribute="updated_at"] {
  width: 140px;
}

.posts-page .list [data-attribute="author"] {
  width: 100px;
}

.posts-page .list [data-attribute="actions"] {
  width: 100px;
}







.pages-page .widget-alpha {}

.pages-page .widget-buttons {
  margin: 0 0 15px 0;
  margin-top: 50px;
  background-color: transparent;
}

.pages-page .widget-buttons .widget-content {
  justify-content: flex-start;
}

.pages-page .widget-buttons .card:not(:nth-last-child(1)) {
  margin-right: 10px;
}

.pages-page .widget-buttons .card:hover {}

.pages-page .list-header,
.pages-page .list-row {
  padding: 0 30px;
  width: calc(100% - 60px);
}

.pages-page .list [data-attribute="name"] {
  width: 200px;
}

.pages-page .list [data-attribute="description"] {
  width: 200px;
}

.pages-page .list [data-attribute="actions"] {
  width: 100px;
}







.events-page .widget-alpha {}

.events-page .widget-buttons {
  margin: 0 0 15px 0;
  margin-top: 50px;
  background-color: transparent;
}

.events-page .widget-buttons .widget-content {
  justify-content: flex-start;
}

.events-page .widget-buttons .card:not(:nth-last-child(1)) {
  margin-right: 10px;
}

.events-page .widget-buttons .card:hover {}

.events-page .list-header,
.events-page .list-row {
  padding: 0 30px;
  width: calc(100% - 60px);
}

.events-page .list [data-attribute="title"] {
  width: 200px;
}

.events-page .list [data-attribute="location"] {
  width: 200px;
}

.events-page .list [data-attribute="date"] {
  width: 100px;
}

.events-page .list [data-attribute="start_time"] {
  width: 70px;
}

.events-page .list [data-attribute="end_time"] {
  width: 70px;
}

.events-page .list [data-attribute="actions"] {
  width: 100px;
}









.event-subscriptions-page .widget-alpha {}

.event-subscriptions-page .widget-buttons {
  margin: 0 0 15px 0;
  margin-top: 50px;
  background-color: transparent;
}

.event-subscriptions-page .widget-buttons .widget-content {
  justify-content: flex-start;
}

.event-subscriptions-page .widget-buttons .card:not(:nth-last-child(1)) {
  margin-right: 10px;
}

.event-subscriptions-page .widget-buttons .card:hover {}

.event-subscriptions-page .list-header,
.event-subscriptions-page .list-row {
  padding: 0 30px;
  width: calc(100% - 60px);
}

.event-subscriptions-page .list [data-attribute="index"] {
  width: 25px;
}

.event-subscriptions-page .list [data-attribute="name"] {
  width: 300px;
}

.event-subscriptions-page .list [data-attribute="email"] {
  width: 300px;
}


/* Custom Page Adjustments - Fim
/* ******************************************** */





