.list {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.list-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 0 10px;
  width: calc(100% - 20px);
}

.list-header::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #D9D9D9;
}

.list-header-attributes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px 10px;
  width: calc(100% - 20px);
}

.list-header-attribute:not(:nth-last-child(1)) {
  margin-right: 10px;
}

.list-header-attribute span {
  display: block;
  position: relative;
  padding: 8px 0;
  width: auto;
  font-size: 13px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-header-attribute span::after {
  content: '';
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 125%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
}

.list-rows {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
}

.list-rows .new-item {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0 5px;
  width: calc(100% - 10px);
  height: 45px;
  color: #222;
  background-color: #fafafa;
  border-bottom: 1px solid #D0D0D0;
}

.list-rows .new-item .icon {
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  padding: 0 10px;
}

.list-rows .new-item .icon svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.list-rows .new-item .text {
  font-size: 16px;
  font-weight: 400;
}

.list-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 10px;
  width: calc(100% - 20px);
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.list-row:nth-child(odd) {
  background-color: #F7F7F7;
}

.list-row > .left,
.list-row > .right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  width: auto;
  height: 100%;
  overflow: hidden;
}

.list-row > .left {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.list-row > .right {
  position: absolute;
  top: 0;
  right: 30px;
  justify-content: flex-end;
  flex-shrink: 0;
}

.list-row .btn {
  padding: 2px 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: #464646;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

.list-row .btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.list-row .actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: auto;
  height: auto;
}

.list-row .action {
  display: block;
  position: relative;
  padding: 5px;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border-radius: 50px;
  line-height: 1px;
  transition: all 160ms ease;
}

.list-row .action:not(:nth-last-child(1)) {
  margin-right: 5px;
}

.list-row .action:hover {
  transform: scale(1.2);
}

.list-row-title {
  font-size: 15px;
  font-weight: 600;
}

.list-row-subtitle {
  position: relative;
  font-size: 12px;
  font-weight: 400;
}

.list-row-attribute {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.list-row-attribute:not(:nth-last-child(1)) {
  margin-right: 10px;
}

.list-row-attribute .name {
  font-size: 12px;
  font-weight: 600;
}

.list-row-attribute .value {
  display: block;
  width: 100%;
  overflow: hidden;
  font-size: 13px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
}